@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap-css-only/css/bootstrap.min.css';
@import '~mdbreact/dist/css/mdb.css';
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic");

// $hover: 

#homepage {
    .view {
        background-image: url('/assets/images/coin.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
      }

      .gradient {
        background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
        background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
      }
      .card {
        background-color: rgba(126, 123, 215, 0.2);
      }
    h6 {
    line-height: 1.7;
    }
    
    .navbar {
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    
    .top-nav-collapse {
        background: #424f95 !important;
    }
    label {
        color: #fff!important;
      }
}
.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;

    &-item {
        display: inline-block;
        list-style: none;
        margin-bottom: -1px;
        padding: 0.5rem 0.75rem;
    }
    &-active {
        background-color: white;
        border: solid #ccc;
        border-width: 1px 1px 0 1px;
    }
  }

  .wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    // width: 250px;
    position: fixed;
    // padding: 10px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}

tbody {
    tr {
        &:hover{
            background-color: #ededed;
        }
    }
    .card-container {
        margin-top: 1.5rem;
    }
}



.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}
.h-100 {
    height: 100%!important;
}
.shadow {
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}

  @media (max-width: 768px) {
    #homepage .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    }
  }